.container{
    /* diseño responsive rapidp */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
}

.containerPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size:auto;
    background-image: url("https://wallpapercave.com/wp/wp1877538.jpg")
}